.main__slider {
  @include container;
  margin-top: 56px;
}

.slider__list {
  display: flex;
  justify-content: space-between;
  overflow-x: auto; /* Горизонтальний скрол */
  scroll-behavior: smooth; /* Плавний скролінг */
  white-space: nowrap; /* Не переносити елементи на новий рядок */
  padding: 0px;
  margin: 0;
  list-style: none;
  column-gap: 16px;
}

.slider__list::-webkit-scrollbar {
  display: none; /* Сховати скролбар, якщо не потрібен */
}
