@import '../../styles/mixins/mixins.scss';

.main {
  grid-column: 1 / -1;

  &__title {
    margin: 56px 0;
  }

  &__content {
    @include mainContentGrid;
  }
  
  &__slider, &__categories, &__banner-slider {
    display: flex;
    justify-content: center;
  }

  &__banner-slider {
    &__interactive-part {
      display: flex;
      justify-content: space-between;
    }

    &__button {
      
    }
  }
  
}

