@import '../../styles/mixins/mixins.scss';

.main {
  grid-column: 1 / -1;

  &__title {
    margin: 56px 0;
  }

  &__content {
    @include mainContentGrid;
  }
  
  &__new-models-slider, &__categories, &__hot-prices-slider, &__slider {
    display: flex;
  }
  
}

