// @import '../../styles/mixins/mixins.scss';
@import '../../styles/utils/mixins';
.main {
  min-height: 100%;
  margin-bottom: -257px;
  padding-bottom: 257px;

  @include onTablet {
    margin-bottom: -96px;
    padding-bottom: 96px;
  }
  
  grid-column: 1 / -1;

  &__title {
    margin: 56px 0;
  }

  &__content {
    @include mainContentGrid;
  }

  &__slider,
  &__categories,
  &__banner-slider {
    display: flex;
  }
}
