.variants-block {
  max-width: 320px;

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    h2 {
      font-size: pxToRem(32);
    }

    p {
      color: $secondary-color;
      text-decoration: line-through;
      font-size: pxToRem(22);
    }
  }

  &__line {
    height: 1px;
    background-color: $elemnts-color;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__info {
    margin-top: 32px;

    &--list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
      list-style: none;

      &-item {
        display: flex;
        justify-content: space-between;
      }
    }

    &--title {
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;

      color: $secondary-color;
    }

    &--value {
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;

      color: $primary-color;
    }
  }
}
