@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin above1200 {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin mainPageGrid() {
  display: grid;
  justify-content: center;

  @include onMobile {
    grid-template-columns: repeat(4, 60px);
    column-gap: 16px;
    margin-inline: 16px;
    row-gap: 64px;
  }

  @include onTablet {
    grid-template-columns: repeat(12, 32px);
    column-gap: 16px;
    margin-inline: 24px;
    row-gap: 80px;
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 32px);
    column-gap: 16px;
    row-gap: 80px;
  }
}

@mixin mainContentGrid() {
  display: grid;

  @include onMobile {
    row-gap: 64px;
  }

  @include onTablet {
    row-gap: 80px;
  }

  @include onDesktop {
    row-gap: 80px;
  }
}
