@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mainPageGrid() {
  display: grid;
  justify-content: center;
  column-gap: 16px;

  @include onMobile {
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 16px;
  }

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    margin-inline: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 32px);
  }
}

@mixin mainContentGrid() {
  display: grid;

  @include onMobile {
    row-gap: 64px;
  }

  @include onTablet {
    row-gap: 80px;
  }

  @include onDesktop {
    row-gap: 80px;
  }
}

@mixin bannerImgs() {
  @include onMobile {
    background-image: url('../../img/mainIcons/Banner1_mobileVers.png');
    // aspect-ratio: 1 / 1;
  }

  @include onTablet {
    background-image: url('../../img/mainIcons/Banner1_tabletVers.png');
  }

  @include onDesktop {
    background-image: url('../../img/mainIcons/Banner1.png');
  }
}

@mixin cardItemSize() {
  @include onMobile {
    width: 212px;
    height: 439px;
  }

  @include onTablet {
    width: 237px;
    height: 512px;
  }

  @include onDesktop {
    width: 272px;
    height: 506px;
  }
}

@mixin cardLogoSizes {
  @include onMobile {
    width: 148px;
    height: 129px;
  }

  @include onTablet {
    width: 173px;
    height: 181px;
  }

  @include onDesktop {
    width: 208px;
    height: 196px;
  }
}

@mixin wideButtonSizes() {
  height: 40px;

  @include onMobile {
    width: 100px;
  }

  @include onTablet {
    width: 125px;
  }

  @include onDesktop {
    width: 160px;
  }
}

