@import '../mixins/mixins.scss';

$accent-color: #4219d0;
$secondary-accent-color: #f4ba47;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elemnts-color: #e2e6e9;
$hover-plus-background-color: #fafbfc;
$white-color: #fff;
// #FAFBFC
$button-hover-shadow: 0px 1px 13px 0px #17203166;

$font-family: 'Montserrat', sans-serif;
$base-font-size: 14;

$header-height: 48px;
@include onDesktop {
    $header-height: 64px;
}

$footer-height: 96px;
@include onDesktop {
    $footer-height: 257px;
}
