// #region SwiperConfigs
.swiper {
  @include swiperSizes;

  background-color: #fff;

  &__container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  &__container img {
    object-fit: contain;
  }

}

.swiper-slide {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
// #endregion

// #region SwiperBlockStyles
.swiper-block {
  display: flex;
  @include swiperBlockFlexDirection;
  gap: 16px;

  &__slides {
    display: flex;
    @include swiperSlidesBlockFlexDirection;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
    bottom: 0;
  }

  &__slide {
    @include slidePreviewSizes;
    
    display: flex;
    flex-direction: column;
    list-style: none;
    box-sizing: border-box;
    border: $slide-preview-default-border;
    padding: 7px;
    border-radius: 8px;    
    cursor: pointer;

    &:hover {
      border: 1px solid $slide-preview-active-hover-border;
    }

    &--is-active {
      border: 1px solid $slide-preview-active-hover-border;
    }
  }

  &__slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
// #endregion