.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e6e9;
  position: relative;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 64px;
    height: 20px;
    margin-right: 32px;
    margin-left: 16px;

    @include onDesktop {
      width: 80px;
      height: 28px;
      margin-right: 48px;
      margin-left: 24px;
    }
  }

  &__icons {
    display: flex;

    &--like {
      display: none;
      width: 16px;
      height: 16px;
      background-image: url(../../img/headerIcon/like.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;

      @include onTablet {
        margin: 16px;
        display: block;
      }

      @include onDesktop {
        margin: 24px;
        display: block;
      }
    }

    &--basket {
      display: none;
      width: 16px;
      height: 16px;
      background-image: url(../../img/headerIcon/basket.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;

      @include onTablet {
        margin: 16px;
        display: block;
      }

      @include onDesktop {
        margin: 24px;
        display: block;
      }

      // @include onMobile {
      //   display: none;
      // }
    }

    &--menu {
      width: 16px;
      height: 16px;
      background-image: url(../../img/headerIcon/Menu.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;

      @include onTablet {
        display: none;
      }
    }
  }

  &__icon--like {
    display: block;
    border-right: 1px solid #e2e6e9;
    border-left: 1px solid #e2e6e9;
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__icon--menu {
    display: block;
    border-right: 1px solid #e2e6e9;
    border-left: 1px solid #e2e6e9;

    @include onTablet {
      display: none;
    }
  }
}
