.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   padding: 18px 0;
  border-bottom: 1px solid #e2e6e9;
  &__menu {
    display: flex;
  }
  &__logo {
    width: 80px;
    height: 28px;
    margin-right: 48px;
    margin-left: 24px;
    @media (max-width: 1200px) {
      width: 64px;
      height: 20px;
    }
  }
  &__icons {
    display: flex;
    // background-color: aqua;
    &--like {
      width: 16px;
      height: 16px;
      background-image: url(../../img/headerIcon/like.png);
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 24px;
      @media (max-width: 1200px) {
        margin: 16px;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
    &--basket {
      width: 16px;
      height: 16px;
      display: block;
      background-image: url(../../img/headerIcon/basket.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 24px;
      @media (max-width: 1200px) {
        margin: 16px;
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
    &--menu {
      display: none;
      width: 16px;
      height: 16px;
      background-image: url(../../img/headerIcon/Menu.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;
      @media (max-width: 640px) {
        display: block;
      }
    }
  }
  &__icon--like {
    display: block;
    border-right: 1px solid #e2e6e9;
    border-left: 1px solid #e2e6e9;
    @media (max-width: 640px) {
      display: none;
    }
  }
  &__icon--menu {
    display: none;
    border-right: 1px solid #e2e6e9;
    border-left: 1px solid #e2e6e9;
    @media (max-width: 640px) {
      display: block;
    }
  }
}
