.nav {
  display: flex;
  align-items: center;
  height: 100%;
  @media (max-width: 640px) {
    display: none;
  }
  &__icon {
    height: 100%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    color: #89939a;

    &:not(:last-child) {
      margin-right: 64px;
    }
    @media (max-width: 1200px) {
      &:not(:last-child) {
        margin-right: 36px;
      }
    }

    &--active:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      bottom: -26px;
      @media (max-width: 1200px) {
        bottom: -18px;
      }
      background-color: #000;
    }
  }
}
