.nav {
  display: none;

  @include onTablet {
    display: flex;
    align-items: center;
    height: 48px;
  }

  @include onDesktop {
    height: 64px;
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    color: $secondary-color;
    @include onTablet {
      &:not(:last-child) {
        margin-right: 36px;
      }
    }
  }
}
