.nav {
  display: none;

  align-items: center;
  height: 100%;

  @include onTablet {
    display: flex;
  }

  &__icon {
    height: 100%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    color: $secondary-color;
    @include onTablet {
      &:not(:last-child) {
        margin-right: 36px;
      }
    }
    @include onDesktop {
      &:not(:last-child) {
        margin-right: 64px;
      }
    }

    &--active:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;

      @include onTablet {
        bottom: -18px;
      }

      @include onDesktop {
        bottom: -28px;
      }

      background-color: #000;
    }
  }
}
