.footer {
  border-top: 1px solid $elemnts-color;
  background-color: $white-color;

  @include onTablet {
    height: 96px;
  }

  @include onDesktop {
    height: 96px;
    padding: 32px 16px;
  }

  &__container {
    height: 100%;
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__logo {
    width: 200px;
    display: flex;
    align-items: center;
    &__img {
      width: 89px;
      height: 30px;
    }
  }

  &__button {
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    color: $secondary-color;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    @include onTablet {
      justify-content: flex-end;
      margin-bottom: 0;
      width: 200px;
    }

    &-text {
      font-size: pxToRem(12);
      font-weight: 700;
      line-height: 16px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $icons-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;

      &:hover {
        border: 1px solid $primary-color;
      }

      &:active {
        background-color: $primary-color;
      }

      &--arrow {
        width: 16px;
        height: 16px;
        background-image: url(../../img/arrowActive/ArrowUp.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .footer__button:active & {
          border-left: 2px solid $white-color;
          border-top: 2px solid $white-color;
        }
      }
    }
  }
}
