@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mainPageGrid() {
  display: grid;
  grid-template-rows: auto;

  @include onMobile {
    grid-template-columns: repeat(4, 60px);
    column-gap: 16px;
    margin-inline: 16px;
  }

  @include onTablet {
    grid-template-columns: repeat(12, 32px);
    column-gap: 16px;
    margin-inline: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 32px);
    column-gap: 16px;
  }
}