.cartItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $elemnts-color;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  grid-column: 1/-1;

  @include onTablet {
    padding: 24px;
    flex-direction: row;
    grid-column: 1/-1;
  }
  @include onDesktop {
    grid-column: 1/-10;
  }

  &__close {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background-image: url(../../../img/icon/Close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  &__image {
    width: auto;
    height: 80px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    max-width: 366px;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__price {
    color: $primary-color;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    margin-right: 16px;
    margin-left: 24px;
  }

  &__count {
    display: flex;
    align-items: center;
    &--button {
      background-color: #fff;
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid $elemnts-color;
      border-radius: 32px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-minus,
      &-plus {
        width: 16px;
        height: 16px;
      }
    }

    &__number {
      margin: 0 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
    }
  }

  // &:not(:last-child) {
  //   margin-bottom: 16px;
  // }
}

.block__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @include onTablet {
    margin-bottom: 16px;
  }
}

.block__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
