@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

html {
  font-size: #{$base-font-size}px;
  font-family: $font-family;
}

button {
  font-family: $font-family;
}

p {
  font-size: pxToRem(14);
  font-weight: 600;
  line-height: 21px;
}

.small {
  font-size: pxToRem(12);
  font-weight: 700;
  line-height: 15px;
}

.uppercase {
  font-size: pxToRem(12);
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.button {
  font-size: pxToRem(14);
  font-weight: 700;
}

h1 {
  font-size: pxToRem(32);
  line-height: 41px;
  letter-spacing: -0.01em;
  font-weight: 800;
}

h2 {
  font-size: pxToRem(22);
  line-height: 31px;
  letter-spacing: 0;
  font-weight: 800;
}

h3 {
  font-size: pxToRem(20);
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 700;
}

h4 {
  font-size: pxToRem(16);
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 700;
}

@include onTablet {
  h1 {
    font-size: pxToRem(48);
    line-height: 56px;
  }

  h2 {
    font-size: pxToRem(32);
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  h3 {
    font-size: pxToRem(22);
    line-height: 31px;
    letter-spacing: 0;
    font-weight: 800;
  }

  h4 {
    font-size: pxToRem(20);
    line-height: 26px;
  }
}
