.not-found {
  @include mainPageGrid();

  &__container {
    padding: 0 16px;
    max-width: 1200px;
    grid-column: 1 / -1;

    @include onTablet {
      padding: 24px 36px;
    }

    @include onDesktop {
      padding: 56px 152px;
    }
  }

  &__title {
    font-size: pxToRem(20);
    font-weight: 780;
    margin-top: 16px;
    margin-bottom: 4px;
    grid-column: 1/-1;

    @include onTablet {
      font-size: pxToRem(35);
      margin-top: 16px;
      font-weight: 800;
      margin-bottom: 16px;
    }

    @include onDesktop {
      color: $primary-color;
      font-size: pxToRem(35);
      line-height: 41px;
      letter-spacing: -1px;
      font-weight: 800;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &__description {
    color: $secondary-color;
    font-size: pxToRem(16);
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 14px;
    grid-column: 1/-1;

    @include onTablet {
      font-size: pxToRem(20);
    }

    @include onDesktop {
      font-size: pxToRem(25);
    }
  }

  &__link {
    color: $primary-color;
    display: inline-block;
    font-weight: 700;
  }
}
